{% macro render_forms(module, user, index=1) %}

{%for form in module.forms%}
{%if not form.skip_render%}
<form method='POST' enctype="multipart/form-data" aria-disabled="true">
    <fieldset disabled="disabled">
        <div class="fields">
            {% for field in form(instance=module.instance(user, index-1)[0]) %}
            {% if not field.is_hidden %}
            <div
                class='bizcred-form-control {% if not form.half or field.html_name not in form.half %} full {% endif %}'>
                <label for="{{field.id_for_label }}">{{field.label|safe}}</label>
                <div class='flex {% if field.errors %} invalid {%endif%}' data-id="{{module.instance(user, index-1)[0].id}}">
                    {{field}}
                </div>
                {%if field.errors%}
                <div class="errorlist">
                    {{' '.join(field.errors)}}
                </div>
                {%endif%}
                {%if field.help_text%}
                    <div>
                        {{field.help_text}}
                    </div>
                {%endif%}
            </div>
            {%else%}
                {{field}}
            {%endif%}
            {% endfor %}
        </div>
    </fieldset>
</form>
{%endif%}
{%endfor%}

{%endmacro%}