.flex {
    display: flex;
}

.content {
    padding: 50px;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.action-btn {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 250px !important;
    padding: 20px;
    text-align: center !important;
    background-color: rgba(85, 230, 193, 0.2);
}

.sidebar {
    flex-grow: 0 !important;
    width: 250px;
    min-width: 250px;
}

.sidebar a {
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: 500 !important;
}

.sidebar .btn {
    width: 100%;
    text-align: left;
}

.sidebar .subitem {
    padding: 5px;
    padding-left: 25px;
    display: block;
    font-size: 14px;
}

.sidebar .active {
    color: black;
    font-weight: 600 !important;
}

.sidebar .menu {
    position: fixed;
    height: 100%;
    width: inherit;
    background-color: rgba(154, 236, 219, 0.2);
    border-right: 1px solid rgba(154, 236, 219, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 50px 1px 0 1px;
    box-sizing: border-box;
}

.status-badge {
    display: inline-block;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    color: white;
}

h1 {
    margin-bottom: 0px;
}

/* .tick-icon {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: 1px solid white;
    display: inline-block;
    margin-right: 10px;
} */

/* .tick-icon.tick {
    background-image: url('/static/tick.png');
    background-position: center;
    background-size: cover;
} */

.menu-item a {
    flex: 1;
    margin-bottom: -3px;
}

/* .menu-item:hover {
    background: rgba(154, 236, 219, 0.2);
} */

.menu-item.active {
    background: rgba(0, 0, 0, 0.2);
    border: solid 1px #e5e5e5;
}

.pending_review {
    background-color: var(--warning);
    color: black;
}

.approved {
    background-color: var(--success);
}

.rejected {
    background-color: var(--danger);
}