<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        li {
                list-style: none;
            }
    </style>
  </head>
  <body>

    {%if user_type == 'LENDER'%}

        Dear {{org_name}},<br/>

        <p> Congratulations!</p>

        <p>Your lender profile is approved at Beagle Bazaar!</p>

        <p>Now you can explore the potential finance proposals available through Beagle Bazaar by login at <Veloce Fintech Link></p>

            <p>
                <img style="margin:10px;" src="http://www.veloceinnovations.tech/static/logo.png" alt="" class="src">
                <br>
                Best Regards, <br>
                Beagle Bazaar Team <br>
                        <a href="http://www.veloceinnovations.tech/" target="_blank">veloceinnovation.tech</a>
            </p>
    {%else%}
        Dear {{first_name}}, <br/>
    
        {%if level == 1 %}

        <br/>
        <p>Congratulations!</p>

        <p>Level – 1 of registration information submitted by you has been approved and your profile is now upgraded.</p>

        <p>Now you are eligible for the following actions on the Beagle Bazaar portal:</p>

        <ul>
            <li><font> &#10004; </font> View the price of the products and vendor details</li>
            <li><font> &#10004; </font> Reach genuine and qualified Beagle Bazaar dealers to procure your desired products and
                equipments
            </li>
            <li><font> &#10004; </font> Raise purchase inquiries for your desired products</li>
            <li><font> &#10004; </font> Get exciting deals from our vendors</li>
            <li><font> &#10004; </font> Get enrolled for our exciting customers’ rewards programme</li>
        </ul>

        <p>Further, please provide additional set of information on the portal to complete different levels & enjoy
            exciting functionalities of the platform.</p>

        <p>Furnishing level – 2 information will enable you to become a dealer and list your products
            to sell them on Beagle Bazaar.</p>

        <p>What are you waiting for? Just <a href='http://www.veloceinnovations.tech/'>Click here</a> and follow a few simple steps!</p>

        <p>Once done, you shall have an access to our widely spread customer base on your fingertips!</p>

        <p>Let’s go…</p> <br/>
        <p>
            <img style="margin:10px;" src="http://www.veloceinnovations.tech/static/logo.png" alt="" class="src">
            <br>
            Best Regards, <br>
            Beagle Bazaar Team <br>
            <!--        <a href="http://www.veloceinnovations.tech/" target="_blank">veloce</a>-->
        </p>
        {%elif level == 2%}
        <p>Congratulations!</p> <br/>

        <p>Level – 2 registration information submitted by you has now been approved and your profile has been upgraded.
            Now you are eligible for the following actions on the Beagle Bazaar portal.</p>

        <ul>
            <li><font> &#10004; </font> View the price of the products and vendor details</li>
            <li><font> &#10004; </font> Reach genuine and qualified Beagle Bazaar dealers to procure your desired products and
                equipments
            </li>
            <li><font> &#10004; </font> Raise purchase inquiries for your desired products</li>
            <li><font> &#10004; </font> Get exciting deals from our vendors</li>
            <li><font> &#10004; </font> Get enrolled for our exciting customers’ rewards programme</li>
            <li><font> &#10004; </font> Become a dealer and list your products to sell through Beagle Bazaar</li>
            <li><font> &#10004; </font> Have a reach to our widely spread customer base</li>
            <li><font> &#10004; </font> Upload the sales bills and sales information & get enrolled for our exciting
                dealers’
                rewards programme
            </li>
        </ul>

        <p>Also provide additional set of information on the portal to complete level – 3
            & enjoy more exciting functionalities of the platform.</p>

        <p>Furnishing level – 3 information will enable you to become a <b>Beagle Bazaar Approved</b>
            dealer and get <b>Beagle Bazaar Approved</b> tag on all the products listed by you on Beagle Bazaar.</p>

        <p>Also be eligible to have tempting finance deals from Beagle Bazaar and its allied finance partners
            for your sales as well as purchases from Beagle Bazaar. Yes, you read it correct. Get your sales invoices
            funded from us!</p>

        <p>What are you waiting for? Just <a href='http://www.veloceinnovations.tech/'>Click here</a> and follow a few simple steps!</p>

        <p>Amazing finance deal are waiting over there!</p>

        <p>Let’s go… </p> <br/>
        <p>
            <img style="margin:10px;" src="http://www.veloceinnovations.tech/static/logo.png" alt="" class="src">
            <br>
            Best Regards, <br>
            Beagle Bazaar Team <br>
            <!--        <a href="http://www.veloceinnovations.tech/" target="_blank">veloce</a>-->
        </p>

        {%else%}
        <p>Congratulations!</p> <br/>

        <p>Level – 3 registration information submitted by you has been approved and your profile is now upgraded
            to provide you with all the functions available on Beagle Bazaar market place</p><br/>
        <!--        <p>Now experience a full fledge ride on Veloce market place! You are now all set to take -->
        <!--            following actions there.</p>-->

        <ul>
            <li><font> &#10004; </font> View the price of the products and vendor details</li>
            <li><font> &#10004; </font> Reach genuine and qualified Beagle Bazaar dealers to procure your desired products and
                equipments
            </li>
            <li><font> &#10004; </font> Raise purchase inquiries for your desired products</li>
            <li><font> &#10004; </font> Get exciting deals from our vendors</li>
            <li><font> &#10004; </font> Get enrolled for our exciting customers’ rewards programme</li>
            <li><font> &#10004; </font> Become a dealer and list your products to sell on Beagle Bazaar</li>
            <li><font> &#10004; </font> Reach to our widely spread customer base</li>
            <li><font> &#10004; </font> Upload the sale invoices & sales information and get enrolled for our exciting
                dealer rewards programme
            </li>
            <li><font> &#10004; </font> Become a Beagle Bazaar Approved dealer and get the Beagle Bazaar Approved tag on all products
                listed by you as a dealer
            </li>
            <li><font> &#10004; </font> Be eligible for getting exciting finance deals from Beagle Bazaar and allied finance
                partners for your
                wished products
            </li>
            <li><font> &#10004; </font> Become eligible to get funds on invoices for sales made through Beagle Bazaar</li>
        </ul>
        {%endif%}

    {%endif%}



  </body>
</html> 










